.slotItemPrice {
    position: fixed;
    z-index: 9;
    color: rgb(19, 161, 19);
    font-weight: 900;
    text-shadow: 3px 3px 6px black;
    animation: grow 0.5s forwards;
}

@keyframes grow {
    0% {
        font-size: 10px;
    }
    100% {
        font-size: 25px;
    }
}
